/*--- Only Firefox ---*/
@mixin backdrop-blur ($rgb1, $rgb2, $rgb3, $rgb4){
  background-color: rgba($rgb1, $rgb2, $rgb3, $rgb4);
  @supports (backdrop-filter: none){
    & {
      background-color: rgba($rgb1, $rgb2, $rgb3, $rgb4*0.85);
      backdrop-filter: blur(6px);
    }
  }
}


.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  z-index: 1;
  color: rgba(160, 160, 160, 0.80);
  padding-top: 6%;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  @include backdrop-blur(0, 0, 0, .9);
}
